* {
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
  overflow: hidden;
  /* Flexbox Centering */
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
  background-color: #70c5ce;
  /* Ensures the canvas fits any screen while maintaining proportions */
  max-width: 100%;
  max-height: 100%;
}